* {
    font-weight: bold; /* 所有元素的文本都加粗 */
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #ff69b4;
}

.converter {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    text-align: left;
}

input[type="text"], textarea, button {
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    width: calc(100% - 30px);
    background-color: #e6e6fa;
}

button:hover {
    background-color: #ff8cb4;
}

@media (max-width: 600px) {
    .converter {
        width: 90%;
    }
}

button {
    background-color: #ff69b4;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    margin: 10px 0;
    width: calc(100% - 20px);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#copy-tooltip {
    position: fixed;
    top: 20px; /* 改为在顶部显示 */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #ff69b4;
    color: white;
    border-radius: 5px;
    z-index: 1000;
    animation: fade-in-out 3s; /* 添加淡入淡出的动画 */
}

@keyframes fade-in-out {
    0%, 100% { opacity: 0; }
    10%, 90% { opacity: 1; }
}

